*{
    padding:0;
    margin:0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}
.hero{
    height: 100vh;
    width: 100%;
    background-image: url(image/background.jpg);
    background-size: cover;
    background-position: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px 8% 0 8%;
}
.logo{
    color:white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor:pointer;
}
span{
    color: #f9004d;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a {
    color:White;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover {
    color: #f9004d;
    transform: .4s;
}
.btn{
    background-color: #f9004d;
    color:white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: ease .5s;
}
.btn:hover{
    transform: scale(1.2);
}